<!-- Loop over each object in the projects array -->
{{logged_in_user.username}}

{{!-- {{logged_in_user.title}}
{{logged_in_user.author}} --}}

{{#if logged_in_user.user_books.length}}
  <div class="col-md-6 project-list">
    <h3>Recently Read:</h3>

    {{#each logged_in_user.user_books as |book|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/book/{{book.id}}">{{book.title}}</a></h4>
        <p>{{book.author}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{book.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}



{{#each users as |user| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/user/{{user.id}}">{{user.username}}</a>
    </h2>
{{/each}}

{{#each books as |book| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/book/{{book.id}}">{{book.title}}</a>
    </h2>

    {{!-- <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div> --}}
{{/each}}